.thumot{
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 18px;
  border-radius: 24px;
  padding: 10px 20px;
  backdrop-filter: blur(20px);
  border: none;
  transition: all 0.3s 0s ease;
}
.thumot:hover{
  box-shadow: 4px 4px 8px 2px rgb(15, 23, 36);
  color: rgb(17, 236, 229);
}
.vhiadoinutdownload{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}
