.Section_total_flex{
	display: flex;
	justify-content: space-between;
}
.Section_total_padding{
	padding: 4rem 6rem 8rem;
}
.Section_total_size{
	font-size: 32px;
	font-weight: bold;
	color: rgb(17, 236, 229);
	margin: 0;
}
.Section_total_text{
	color: rgb(17, 236, 229);
	font-size: 18px;
	margin: 0;
}
.Section_total_background{
	margin-top: 1rem;
	color: rgb(17, 236, 229);
}
/*.Section_total_backgroundjs{
	background: radial-gradient(circle at 94% 47%, rgb(17, 236, 229, 0.2) 0%, transparent 21%);
}*/
.Section_total_chart{
	width: 100%;
	height: 100%;
}
.Section_total_chart_io{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
}
.Section_total_chart_background_us{
	background: radial-gradient(circle at 107% -1%, rgb(17, 236, 229, 0.2) 0%, rgb(146, 171, 207, 0.1) 34%);
	backdrop-filter: blur(21px);
	padding: 2rem;
	border-radius: 16px;
	width: 100%;
	overflow: hidden;
	height: auto;
	display: grid;
	grid-template-areas: 'STChart STtext'
	                     'STbutton STbutton';
	/*align-items: center;*/
	grid-row-gap: 3rem;
}
.ST1goc{
	color: #fff;
	font-weight: bold;
}
.ST1phu{
	color: rgb(146, 171, 207);
	font-size: 11px;
}
.Section_total_chart_ioicon{
	color: #fff;
	font-size: 21px;
}
.ST1{
	grid-area: STChart;
	width: 100%;
	max-width: 500px;
	color: #fff;
	border: 1px solid rgb(146, 171, 207, 0.2);
	padding: 85px 25px;
}
.ST2{
	grid-area: STtext;
}
.Section_total_sizesST{
	margin: 0;
	font-weight: normal;
	font-size: 16px;
	color: rgb(146, 171, 207);
	line-height: 28px;
	text-align: right;
}
.Section_total_sizesST_number{
	font-weight: bold;
	font-size: 21px;
	color: rgb(17, 236, 229);
	text-align: right;
	margin: 0;
}
.ST3{
	grid-area: STbutton;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	grid-gap: 20px;
	flex-wrap: wrap;
}
.ST3 button{
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(21px);
	cursor: pointer;
	border: 2px solid rgb(146, 171, 207,0.2);
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-gap: 10px;
	border-radius: 24px;
	padding: 8px 12px;
}
.Section_total_sizes{
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	grid-gap: 2rem;
}
.Section_total_text_abc{
	color: rgb(17, 236, 229);
	font-size: 32px;
	cursor: pointer;
}
.Section_total_size_flex-2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.Section_total_text_flex{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	background: rgb(146, 171, 207, 0.1);
	border-radius: 8px;
	padding: 15px;
	backdrop-filter: blur(20px);
	cursor: pointer;
}
.Section_total_flex{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
@media screen and (max-width: 600px) {
	.Section_total_padding{
		padding: 4rem 2rem;
	}
	.Section_total_flex{
		grid-template-columns: 1fr;
	}
	.Section_total_sizes{
		flex-direction: column !important;
		grid-gap: 2rem;
	}
}
@media screen and (max-width: 700px) {
	.Section_total_padding{
		padding: 4rem 2rem;
	}
	.Section_total_flex{
		grid-template-columns: 1fr;
	}
	.Section_total_sizes{
		flex-direction: column !important;
		grid-gap: 2rem;
	}
}
@media screen and (max-width: 960px) {
	.Section_total_padding{
		padding: 4rem 2rem;
	}
	.Section_total_flex{
		grid-template-columns: 1fr;
	}
	.Section_total_sizes{
		flex-direction: row;
		grid-gap: 2rem;
	}
}