.Background_news_home{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #fff;
  transition: all 0.5s 0s linear;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.Home_News_bgr{
  background: #fff;
}