
.is-hidden--off-flow {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 10000;
  visibility: hidden;
}

.is-shown--off-flow {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  visibility: visible;
}
.mksdcdcs {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
  text-align: center;
}

.mksdcdcs__shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.92;
  z-index: -1;
  cursor: pointer;
}

.mksdcdcs__body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.c-connaks {
  display: inline-block;
  text-align: center;
  background: rgb(17, 236, 229);
  backdrop-filter: blur(6px);
  max-width: 550px;
  width: 100%;
  line-height: 1.48;
  border-radius: 12px;
}

.c-connaks__img {
  width: 35%;
  margin: 0 auto;
  padding: 20px 20px 20px;
}

.h-img-resp {
  max-width: 100%;
  border-radius: 12px;
}


.c-connaks__note {
  opacity: 0.2;
  font-size: 1em;
  margin-top: 6px;
  margin-bottom: 60px;
}

/*nút*/
@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotateY(90deg) rotate(0deg);
  }
  60% {
    -webkit-transform: rotateY(90deg) rotate(-180deg);
  }
  100% {
    -webkit-transform: rotateY(90deg) rotate(-360deg);
  }
}
@-moz-keyframes orbit {
  0% {
    -moz-transform: rotateY(90deg) rotate(0deg);
  }
  60% {
    -moz-transform: rotateY(90deg) rotate(-180deg);
  }
  100% {
    -moz-transform: rotateY(90deg) rotate(-360deg);
  }
}
@keyframes orbit {
  0% {
    -webkit-transform: rotateY(90deg) rotate(0deg);
    -moz-transform: rotateY(90deg) rotate(0deg);
    -ms-transform: rotateY(90deg) rotate(0deg);
    -o-transform: rotateY(90deg) rotate(0deg);
    transform: rotateY(90deg) rotate(0deg);
  }
  60% {
    -webkit-transform: rotateY(90deg) rotate(-180deg);
    -moz-transform: rotateY(90deg) rotate(-180deg);
    -ms-transform: rotateY(90deg) rotate(-180deg);
    -o-transform: rotateY(90deg) rotate(-180deg);
    transform: rotateY(90deg) rotate(-180deg);
  }
  100% {
    -webkit-transform: rotateY(90deg) rotate(-360deg);
    -moz-transform: rotateY(90deg) rotate(-360deg);
    -ms-transform: rotateY(90deg) rotate(-360deg);
    -o-transform: rotateY(90deg) rotate(-360deg);
    transform: rotateY(90deg) rotate(-360deg);
  }
}
.mausaccuanuti{
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  transition: filter 0.2s linear 0s;
  border: none;
  outline: none;
  overflow: hidden;
  right: 0;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
  background: transparent;
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding: 0;
}
.mausaccuanuti:hover{
  filter: contrast(0.95) brightness(1.3) saturate(1.1);
}
.cangiuavtsscsc{
  color: rgb(17, 236, 229);
  cursor: pointer;
  font-size: 36px;
  background: rgb(146, 171, 207, 0.1);
  backdrop-filter: blur(21px);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-weight: bold;
  border-radius: 8px;
  padding: 6px 18px;
}
.salkdjoiasdj{
  color: rgb(17, 236, 229);
  letter-spacing: 1.2px;
  font-size: 15px;
  font-weight: normal;
  white-space: nowrap;
  font-weight: normal;
}
.djdsopo{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(146, 171, 207);
  grid-gap: 12px;
  font-size: 15px;
  font-weight: normal;
  white-space: nowrap;
}
.nutho {
  border-radius: 24px;
  padding: 0px 10px 0px 60px;
  font-weight: 600;
  background-image: linear-gradient(65deg, rgb(17, 236, 229) 30%, rgb(195, 27, 226) 114%);
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  text-decoration: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: filter 0.2s linear 0s;
  /*box-shadow: 5px 5px 150px 5px  rgb(17 236 229 / 30%), 5px 5px 150px 5px  rgb(195 27 226 / 22%) ;*/
}

.nutho:hover > .kkone {
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  -webkit-transform: rotateY(90deg) rotate(-360deg);
  -moz-transform: rotateY(90deg) rotate(-360deg);
  -ms-transform: rotateY(90deg) rotate(-360deg);
  -o-transform: rotateY(90deg) rotate(-360deg);
  transform: rotateY(90deg) rotate(-360deg);
}
.nutho > .kkone {
  width: 63px;
  display: block;
  position: absolute;
  left: 0;
  top: -30px;
  bottom: -36px;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg) rotate(0deg);
  -moz-transform: rotateY(90deg) rotate(0deg);
  -ms-transform: rotateY(90deg) rotate(0deg);
  -o-transform: rotateY(90deg) rotate(0deg);
  transform: rotateY(90deg) rotate(0deg);
}

.nutho > .kkone > .kkone {
  position: absolute;
  background: rgb(146, 171, 207);
  width: 15px;
  height: 15px;
  left: 0;
  top: 40px;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
.nutho > .kkone > .kkone::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  margin-left: -7px;
  border-top: 16px solid rgb(146, 171, 207);
  border-bottom: 0 solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.pipiu{
  z-index: 2;
}

.c-connaks {
  display: inline-block;
  text-align: center;
  background: -webkit-linear-gradient(right, #C168C3, #3347C9, #15E2BC);
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
  max-width: 420px;
  width: 100%;
  line-height: 1.48;
  border-radius: 12px;
}
@media screen and (max-width: 1050px) {
  .cangiuavtsscsc{
    font-size: 21px;
    padding: 12px 18px;
  }
  .djdsopo{
    font-size: 13px;
  }
  .ljsdjo{
    font-size: 13px;
  }
}
@media screen and (max-width: 650px) {}
@media screen and (max-width: 490px) {}