.loader_ld {
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}
.ndkasjdks{
  display: flex;
  align-items: center;
  grid-gap: 6px;
}
.lllkko{
  display: flex;
  flex-direction: column;
}
.inner_ld {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}
.djhsdhjt{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 10px;
  color: rgb(146, 171, 207);
  display: flex;
  align-items: center;
  grid-gap: 6px;
}
.buonngu{
  text-align: left;
}
.chiauhsuhd{
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: rgb(146, 171, 207);
  display: flex;
  grid-gap: 6px;

}
.inner_ld.one_ld {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid rgb(146, 171, 207);
}

.inner_ld.two_ld {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid rgb(146, 171, 207);
}

.inner_ld.three_ld {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid rgb(146, 171, 207);
}
.mau_ld{
	color: rgb(146, 171, 207);
  font-size: 15px;
  text-align: center;
}
.chia_loading{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	grid-gap: 15px;
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
/*Loading*/

.disapper {
  animation: vanish 0s forwards;
}


@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


.overlay .overlayDoor:before, .overlay .overlayDoor:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(15, 23, 36, 0.3);
  backdrop-filter: blur(20px);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  transition-delay: 0.8s;
}
 

.overlay .overlayDoor:before {
  left: 0;
}
.overlay .overlayDoor:after {
  right: 0;
}
.overlay.loaded .overlayDoor:before {
   opacity: 0;
}
.overlay.loaded .overlayDoor:after {
   opacity: 0;
}
.overlay.loaded .overlayContent {
  opacity: 0;

}
.overlay .overlayContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
}
.chiaall_ld{
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 20px;
	justify-content: center;
}
.chiatt_ld{
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
	justify-content: center;
  align-items: center;
}
.overlay .overlayContent .skip {
  display: block;
  text-align: center;
  margin: 0 auto 0;
  cursor: pointer;
  color: rgb(146, 171, 207);
  font-weight: 700;
  padding: 8px 40px;
  border: 2px solid rgb(146, 171, 207);
  border-radius: 8px;
  font-size: 13px;
  transition: 0.2s ease;
}

@media only screen and (max-width: 768px){
  .overlay .overlayContent .skip {
  display: block;
  width: 120px;
  text-align: center;
  margin: 10px auto 0;
  cursor: pointer;
  color: rgb(146, 171, 207);
  font-weight: 700;
  padding: 10px 0;
  border: 2px solid rgb(146, 171, 207);
  border-radius: 14px;
  transition: 0.2s ease;
  }}

.overlay .overlayContent .skip:hover {
  background: rgb(37, 54, 78);
  color: rgb(17, 236, 229);
  border-color: rgb(17, 236, 229);
}

.blink-soft {
  animation: blinker 3s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid black;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  margin: 12px;
}

@media only screen and (max-width: 768px){
}
.loader .inner {
  width: 18px;
  height: 18px;
  border: 3px solid transparent;
  border-top: 3px solid black;
  border-radius: 50%;
  -webkit-animation: spinInner 1s linear infinite;
          animation: spinInner 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinInner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}
@keyframes spinInner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}
.contentOther {
  background: #fff;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.contentOther .video {
  height: 484px;
  width: 100%;
  border-radius: 5px;
}
.contentOther h1 {
  margin: 0 0 10px 0;
  font-weight: 400;
}

.dhu{
  margin-left: 192px;
}


/*loading 2*/
@-webkit-keyframes shadow {
  from {
    transform: translate(0, -1.25vmin) scale(1, 1);
    background-color: rgba(0, 0, 0, 0.1);
  }
  to {
    transform: translate(0, 0) scale(1.3, 1);
    background-color: rgba(0, 0, 0, 0.05);
  }
}
@keyframes shadow {
  from {
    transform: translate(0, -1.25vmin) scale(1, 1);
    background-color: rgba(0, 0, 0, 0.1);
  }
  to {
    transform: translate(0, 0) scale(1.3, 1);
    background-color: rgba(0, 0, 0, 0.05);
  }
}
@-webkit-keyframes hover {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -1.25vmin);
  }
}
@keyframes hover {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -1.25vmin);
  }
}
@-webkit-keyframes beat {
  0% {
    background-color: rebeccapurple;
    box-shadow: 0 0 0 0 rgba(220, 20, 60, 0.3);
  }
  50%, 70% {
    background-color: powderblue;
    box-shadow: 0 0 10vmin 12.5vmin rgba(176, 224, 230, 0);
  }
  100% {
    background-color: rebeccapurple;
  }
}
@keyframes beat {
  0% {
    background-color: rebeccapurple;
    box-shadow: 0 0 0 0 rgba(220, 20, 60, 0.3);
  }
  50%, 70% {
    background-color: powderblue;
    box-shadow: 0 0 10vmin 12.5vmin rgba(176, 224, 230, 0);
  }
  100% {
    background-color: rebeccapurple;
  }
}
@-webkit-keyframes wave {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(80deg);
  }
}
@keyframes wave {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(80deg);
  }
}
@-webkit-keyframes wobble {
  0% {
    transform: translate(-0.25vmin, 0);
    background-color: crimson;
    box-shadow: 0 0 0 0 rgba(220, 20, 60, 0.3);
  }
  50%, 70% {
    transform: translate(0.25vmin, 0);
    background-color: mediumvioletred;
    box-shadow: 0 0 10vmin 12.5vmin rgba(220, 20, 60, 0);
  }
  100% {
    transform: translate(-0.25vmin, 0);
    background-color: rebeccapurple;
  }
}
@keyframes wobble {
  0% {
    transform: translate(-0.25vmin, 0);
    background-color: crimson;
    box-shadow: 0 0 0 0 rgba(220, 20, 60, 0.3);
  }
  50%, 70% {
    transform: translate(0.25vmin, 0);
    background-color: mediumvioletred;
    box-shadow: 0 0 10vmin 12.5vmin rgba(220, 20, 60, 0);
  }
  100% {
    transform: translate(-0.25vmin, 0);
    background-color: rebeccapurple;
  }
}

.x {
  display: block;
  position: relative;
  -webkit-animation: hover 1500ms ease-in-out alternate infinite;
          animation: hover 1500ms ease-in-out alternate infinite;
  top: -100px;
}
@media only screen and (max-width: 768px){
.x {
  display: block;
  position: relative;
  -webkit-animation: hover 1500ms ease-in-out alternate infinite;
          animation: hover 1500ms ease-in-out alternate infinite;
  left: 3em;
}}
x-head {
  width: 14vmin;
  height: 6.8vmin;
  display: block;
  position: relative;
  border-radius: 6.25vmin;
  background-color: black;
  box-shadow: 0 0 0 1.5vmin white inset;
  transition: transform ease-in-out 350ms;
  left: 1.5vmin;
  top: 7vmin;
}
x-head::before {
  content: "";
  display: block;
  width: 3.8vmin;
  height: 3.8vmin;
  position: absolute;
  top: -8.8vmin;
  left: 5.5vmin;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 1vmin 0 -1.5vmin white, 0 0.5vmin 0 -1.5vmin white, 0 1vmin 0 -1.5vmin white, 0 1.5vmin 0 -1.5vmin white, 0 2vmin 0 -1.5vmin white, 0 2.5vmin 0 -1.5vmin white, 0 3vmin 0 -1.5vmin white, 0 3.5vmin 0 -1.5vmin white, 0 4vmin 0 -1.5vmin white, 0 4.5vmin 0 -1.5vmin white, 0 5vmin 0 -1.5vmin white, 0 5.5vmin 0 -1.5vmin white, 0 6vmin 0 -1.5vmin white, 0 6.5vmin 0 -1.5vmin white, 0 7vmin 0 -1.5vmin white, 0 7.5vmin 0 -1.5vmin white, 0 8vmin 0 -1.5vmin white;
}
x-head::after {
  content: "";
  display: block;
  width: 2.75vmin;
  height: 2.75vmin;
  position: absolute;
  top: 2vmin;
  left: 1.8vmin;
  border-radius: 1.875vmin;
  background-color: powderblue;
  box-shadow: 7.625vmin 0 powderblue;
  transition: inherit;
}
x-head:hover {
  transform: rotate(15deg) translate(2.5vmin, 0);
}
x-head:hover::after {
  transform: scale(1, 0.1);
}
x-body {
  width: 12vmin;
  height: 14.5vmin;
  position: absolute;
  top: 15vmin;
  left: 2.5vmin;
  display: block;
  overflow: hidden;
  border-radius: 50% 50% 50% 50%/30% 30% 70% 70%;
  background: white;
}
x-body::after {
  content: "";
  display: block;
  width: 2.75vmin;
  height: 2.75vmin;
  position: absolute;
  top: 3.25vmin;
  left: 6vmin;
  border-radius: 50%;
  -webkit-animation: beat 4500ms linear infinite;
          animation: beat 4500ms linear infinite;
}
x-body:hover::after {
  -webkit-animation: wobble 1000ms linear infinite;
          animation: wobble 1000ms linear infinite;
}
x-hand {
  width: 7.5vmin;
  height: 7.5vmin;
  position: absolute;
  top: 5.85vmin;
  left: 11vmin;
  display: block;
  border-radius: 50%;
  transform-origin: 50% 12vmin;
  box-shadow: 0 6.5vmin 0 -2.5vmin white;
  -webkit-animation: wave 1000ms alternate ease-in-out infinite;
          animation: wave 1000ms alternate ease-in-out infinite;
}
.sixec{
  height: 100vmin;
  width: 100vmin;
}
x-hand::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 0;
  left: 5px;
  -webkit-clip-path: polygon(0% 0%, 50% 50%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 50% 50%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 40%;
  box-shadow: 0 0 0 2vmin white inset;
}
x::after {
  content: "";
  display: block;
  width: 10vmin;
  height: 2.75vmin;
  position: absolute;
  top: 32vmin;
  left: 3.5vmin;
  border-radius: 50%;
  -webkit-animation: shadow 1500ms ease-in-out alternate infinite;
          animation: shadow 1500ms ease-in-out alternate infinite;
}
/*loading khĂ¡c*/

.content1load {
  max-width: 650px;
  margin: 0 auto;
  top: 35%;
  position: relative;
}
.content1load {
  line-height: 1.5;
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 2px 5px black;
}
/* PRELOADER CSS */
.pagec-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #272727;
  z-index: 1000;
}
.pagec-loader .txsst {
  color: #666;
  text-align: center;
  top: 40%;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: bold;
  line-height: 1.5;
}
/* SPINNER ANIMATION */
.spinnesr {
  position: relative;
  top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/*3chấm*/
.chia_loadings{
	display: flex;
	flex-direction: row;
	grid-gap: 6px;
	justify-content: center;
}
.LoaderBalls {
  width: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logorb_ld{
	display: flex;
	flex-direction: row;
	grid-gap: 15px;
	align-items: center;
}
.LoaderBalls__item {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: rgb(15, 23, 36);
}
.LoadingpageBG{
  background-color: rgb(146, 171, 207)!important;
}
.imgrobott{
	width: 41px;
	height: 47px;
	bottom: 0;
    right: 0;
    display: none;
	transition: none 0s ease 0s;
}
.LoaderBalls__item:nth-child(1) {
  animation: bouncing_ld 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.LoaderBalls__item:nth-child(2) {
  animation: bouncing_ld 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}
.LoaderBalls__item:nth-child(3) {
  animation: bouncing_ld 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

@keyframes bouncing_ld {
  0% {
    transform: translate3d(0, 5px, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -1px, 0) scale(0.9, 1.1);
  }
}


/*Loading home page*/
.ipl-progress-indicator.available{
  opacity:0
}
.ipl-progress-indicator{
  background: rgb(15, 23, 36, 0.9);
  backdrop-filter: blur(26px);
  width:100%;
  height:100%;
  position:fixed;
  pointer-events:none;
  -webkit-transition:opacity cubic-bezier(.4,0,.2,1) 436ms;
  -moz-transition:opacity cubic-bezier(.4,0,.2,1) 436ms;
  transition:opacity cubic-bezier(.4,0,.2,1) 436ms;
  z-index:9999
}
.insp-logo-frame{display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-flex-direction:column;
  -moz-flex-direction:column;
  flex-direction:column;
  -webkit-justify-content:center;
  -moz-justify-content:center;
  justify-content:center;
  -webkit-animation:fadein 436ms;
  -moz-animation:fadein 436ms;
  animation:fadein 436ms;
  height:98%}

/*.insp-logo-frame-img{width:112px;
  height:112px;
  -webkit-align-self:center;
  -moz-align-self:center;
  align-self:center;
  border-radius:50%}

.ipl-progress-indicator-head{background-color:#c6dafc;
  height:4px;
  overflow:hidden;
  position:relative}
.ipl-progress-indicator .first-indicator,.ipl-progress-indicator .second-indicator{background-color:#056d8b;
    bottom:0;
  left:0;
  right:0;
  top:0;
  position:absolute;
  -webkit-transform-origin:left center;
  -moz-transform-origin:left center;
  transform-origin:left center;
  -webkit-transform:scaleX(0);
  -moz-transform:scaleX(0);
  transform:scaleX(0)}
.ipl-progress-indicator .first-indicator{-webkit-animation:first-indicator 2s linear infinite;
    -moz-animation:first-indicator 2s linear infinite;
  animation:first-indicator 2s linear infinite}
.ipl-progress-indicator .second-indicator{-webkit-animation:second-indicator 2s linear infinite;
    -moz-animation:second-indicator 2s linear infinite;
  animation:second-indicator 2s linear infinite}
.ipl-progress-indicator .insp-logo{animation:App-logo-spin infinite 20s linear;
    border-radius:50%;
  -webkit-align-self:center;
  -moz-align-self:center;
  align-self:center}
@keyframes App-logo-spin{
  from{transform:rotate(0)}to{transform:rotate(360deg)}}
@-webkit-keyframes fadein{
  from{opacity:0}to{opacity:1}}
@-moz-keyframes fadein{
  from{opacity:0}to{opacity:1}}
@keyframes fadein{
  from{opacity:0}to{opacity:1}}
@keyframes first-indicator{0%{transform:translate(0) scaleX(0)}25%{transform:translate(0) scaleX(.5)}50%{transform:translate(25%) scaleX(.75)}75%{transform:translate(100%) scaleX(0)}100%{transform:translate(100%) scaleX(0)}}
@keyframes second-indicator{0%{transform:translate(0) scaleX(0)}60%{transform:translate(0) scaleX(0)}80%{transform:translate(0) scaleX(.6)}100%{transform:translate(100%) scaleX(.1)}}*/